.stats-container {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.stats-container .feature {
  border: 2px solid black;
  flex: 1 0 15%;
  margin: 3px 0;
  line-height: 30px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.stats-container .feature:hover {
  background-color: rgb(108, 173, 223);
  border-color: black;
}

.stats-container .feature:focus {
  background-color: rgb(108, 173, 223);
}

.description {
    margin-bottom: 20px;
}

.features-container .features-header, .results-container .feature {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 40px;
}

.feature .year, .feature .month, .features-header .header-lg {
  flex: 1 0 5%;
}

.features-header .header, .feature .severity, .feature .temp_avg, .feature .temp_rng {
  flex: 1 0 12%;
}

.features-header .header-sm, .feature .humidity, .feature .pressure, .feature .wspeed {
  flex: 1 0 6%;
}