.quintile-container {
    margin-top: 30px;
    height: 400px;
    justify-content: center;
}

.codes-container {
    margin-top: 30px;
    height: 400px;
    margin-left: 0px !important;
    margin: 0px;

}

.quintile-col1 {
    max-width: 380px !important;
}

.description {
    max-height: 200px !important;
}

.rose {
    margin-right: 20px;
}


.visualize-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-body {
    font-weight: normal;
}