.time-series-container .time-series-header, .time-series-results-container .time-series-row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 40px;
  }
  
  .time-series-row .year, .time-series-row .month, .time-series-header .header-lg {
    flex: 1 0 5%;
  }
  
  .time-series-header .header, .time-series-row .id, .time-series-row .time, .time-series-row .severity, .time-series-row .accidents, .time-series-row .cum_severity {
    flex: 1 0 12%;
  }
  
  .time-series-header .header-sm, .time-series-row .cum_accidents {
    flex: 1 0 6%;
  }